/* CSS files add styling rules to your content */

/* NOTE font urls have to be manually fixed to use a relative path in asserts/ 
when running offline */

body {
  margin: 2em;
  cursor: pointer;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.demo-container {
  margin: 0 auto;
  position: relative;
}

video {
  display: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    margin: 0;
    z-index: -1;
}

.initial {
  color: yellow;
  font-size: 6em;
  font-family: 'Satisfy', cursive;
  font-weight: 700;
  text-align: center;
}

.initial.start {
  padding-top: 4em;
}