/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}


.demo-container {
  margin: 0 auto;
  position: relative;
}

video {
  visibility: hidden;
/*
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
*/
}

.p5canvas {
  position: absolute;
  top: 0;
  left: 0;
  m
}