.shine {  /* shiny effect! */
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

   .glow {
        -webkit-animation-duration: 2s;
        -webkit-animation-name: glow;
        -webkit-animation-direction: alternate;
        -webkit-animation-iteration-count: infinite;
        animation-duration: 2s;
        animation-name: glow;
        animation-direction: linear;
        animation-iteration-count: infinite;
    
    }
    
    @-webkit-keyframes glow {
        from { text-shadow: 0 0 0px white; }
        to { text-shadow: 0 0 20px white; }
    }