@import url("fonts.css");
@import url("glow.css");


h1 {
  font-style: italic;
  color: #373fff;
}

.demo-container {
  margin: 0 auto;
  position: relative;
}

video {
  display: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    margin: 0;
    z-index: -1;
}

.shadow {
    /* TODO better color maybe */
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.bigtext {
  color: white;
  font-size: 90px;
  font-family: 'Satisfy', cursive;
  font-weight: 700;
  text-align: center;
}

input.text-entry {
  font-size: 90px;
  font-family: 'Comfortaa';
  background-color: rgba(255, 255, 255, 0.75);
}

form {
  text-align: center;
  margin-top: 200px;
}