@import url("fonts.css");
@import url("glow.css");


h1 {
  font-style: italic;
  color: #373fff;
}

.demo-container {
  margin: 0 auto;
  position: relative;
}

video {
  display: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    margin: 0;
    z-index: -1;
}

.shadow {
    /* TODO better color maybe */
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.initial {
  color: white;
  font-size: 90px;
  font-family: 'Satisfy', cursive;
  font-weight: 700;
  text-align: center;
}

.initial.start {
  padding-top: 750px;
}

input.text-entry {
  font-size: 80px;
  font-family: 'Comfortaa';
}

form {
  text-align: center;
}

#name-label {
  margin-top: 200px;
  margin-bottom: 500px;
}

#note-label {
  margin-top: 300px;
}

label.text-entry {
  font-size: 80px;
  font-family: 'Satisfy';
  color: white;
}